@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

svg text.bi {
    font-family: bootstrap-icons !important;
}

.djs-palette, .bts-palette {
    top: 1rem !important;
    left: 1rem !important;
    background-color: white !important;
    border-radius: 16px;
}

.bts-palette, .bts-set-animation-speed {
    display: none;
}

.bts-scope, .bts-token-count {
  color: transparent !important;
}

.bts-token .bts-text {
  fill: transparent !important;
  opacity: 0;
}

.entry.more-palette {
  position: relative;
}

.entry.more-palette::after {
  content: '';
  position: absolute;
  bottom: 8px;
  right: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
}