@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@plugin "@iconify/tailwind4" {
 prefixes: bi, ri, fluent, bpmn, material-symbols, flat-color-icons;
}

svg text.bi {
    font-family: bootstrap-icons !important;
}

.bjs-powered-by {
  @apply fixed top-19 left-4;
  bottom: unset !important;
  right: unset !important;
  color: var(--color-stone-300) !important;
  @apply w-12;
}

.bjs-powered-by:hover {
  color: var(--color-stone-400) !important;
}

.bjs-powered-by::before {
  content: 'Powered by';
  @apply text-[8px];
  display: block;
}

.bjs-powered-by svg {
  @apply w-12 h-auto;
}

.palette-button {
  @apply font-bold text-black bg-white p-1;
  @apply cursor-grab shadow-xl rounded-2xl;
  @apply hover:bg-amber-300;
  @apply active:bg-amber-400;
  @apply border-2 border-dashed border-violet-700;
  @apply h-12 w-12 items-center justify-center;

}

.palette-button-more {
  @apply font-bold text-black bg-transparent p-1;
  @apply cursor-grab rounded-2xl;
  @apply hover:bg-stone-200;
  @apply active:bg-stone-300;
  @apply h-12 w-12 items-center justify-center;
}

.djs-palette-shown .bjs-breadcrumbs, .bjs-breadcrumbs {
  @apply top-20 left-20;
  @apply font-bold;
}

.djs-palette {
  @apply hidden;
}
.djs-popup {
  @apply bg-stone-100 border rounded-lg border-stone-200 shadow-lg;
}

.djs-popup .entry.selected {
  @apply bg-stone-300;
}

.djs-popup-search input {
  @apply border border-stone-300 rounded-lg;
  @apply focus:border-stone-500 focus:ring-stone-500 focus:bg-stone-300;
}

.bts-palette, .bts-set-animation-speed {
    display: none;
}

.bts-scope, .bts-token-count {
  color: transparent !important;
}

.bts-token .bts-text {
  fill: transparent !important;
  opacity: 0;
}

.entry.more-palette {
  position: relative;
}

.entry.more-palette::after {
  content: '';
  position: absolute;
  bottom: 8px;
  right: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
}