@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1 { @apply text-4xl font-bold}
  h2 { @apply text-3xl font-semibold }
  h3 { @apply text-2xl font-semibold }
  h4 { @apply text-xl font-semibold }
  h5 { @apply text-lg font-semibold }
  h6 { @apply text-base font-semibold }
  ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  li {
    display: list-item;
  }
  a {
    color: var(--ifm-link-color);
  }

  .pagination-nav__sublabel { @apply text-neutral-400 }
}

:root {
  /* --aa-primary-color-rgb: 255, 0, 0 !important;
  --aa-muted-color-rgb: 255, 0, 0 !important; */
  --ifm-font-family-base: var (--font-sans);
}


.pagination-nav__link {
  border-width: 0px !important;
}

.breadcrumbs > li:nth-child(1) > a > svg {
  display: inline !important;
}

.katex-html {
  display: none !important;
}

details[class^='details_'] {
  border-width: 0px !important;
	--ifm-alert-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
}

/* 
details[class^='details_'].alert--info {
  --docusaurus-details-decoration-color: var(--color-indigo-300);
  border-width: 0px !important;
	--ifm-alert-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
  --ifm-alert-background-color: var(--color-indigo-50);
  box-shadow: 0 1px 2px 0 var(--color-indigo-200);
} */

details.indigo {
  --docusaurus-details-decoration-color: var(--color-indigo-300);
  --ifm-alert-background-color: var(--color-indigo-50);
  box-shadow: 0 1px 2px 0 var(--color-indigo-200);
}

details.green {
  --docusaurus-details-decoration-color: var(--color-emerald-400);
  --ifm-alert-background-color: var(--color-emerald-50);
  box-shadow: 0 1px 2px 0 var(--color-emerald-200);
}

details code {
  border: none !important;
}


.green .badge {
  @apply inline-flex items-center rounded-2xl bg-emerald-100 px-2 text-xs text-emerald-600 ring-1 ring-inset ring-emerald-700/10;
}

.indigo .badge {
  @apply inline-flex items-center rounded-2xl bg-indigo-100 px-2 text-xs text-indigo-600 ring-1 ring-inset ring-indigo-700/10;
}

summary code {
  background-color: unset !important;
}
