@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1 { @apply text-4xl font-bold}
  h2 { @apply text-3xl font-semibold }
  h3 { @apply text-2xl font-semibold }
  h4 { @apply text-xl font-semibold }
  h5 { @apply text-lg font-semibold }
  h6 { @apply text-base font-semibold }
}

:root {
  /* --aa-primary-color-rgb: 255, 0, 0 !important;
  --aa-muted-color-rgb: 255, 0, 0 !important; */
  --ifm-font-family-base: var (--font-sans);
}
