
.quarto-figure-center {
  margin-left: auto;
  margin-right: auto;
}

figure {
  background-color: var(--bs-gray-100);
  padding: .5rem .5rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 3px var(--bs-gray-200)
}

figcaption {
  font-size: 0.9em;
  color: var(--bs-gray-800);
}

.caption-center figcaption {
  text-align: center;
}