

figure {
  /* background-color: var(--bs-gray-100); */
  padding: .5rem .5rem;
  border-radius: .5rem;
  /* box-shadow: 2px 2px 3px var(--bs-gray-300) */
}

figure.centered {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-size: 0.8rem;
  color: var(--color-gray-600);
  margin-bottom: var(--ifm-paragraph-margin-bottom) !important;
  text-align: center;
}

figcaption code {
  border: 0px !important;
  font-size: 0.7rem !important;
}
