@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";




.radial-gradient {
background: linear-gradient(to top, #7933d0  0%, hsl(312, 100%, 98%) 100%);
  /* circle at top center,
  rgba(255, 255, 255, 1) 0%,
  rgba(120, 120, 120, 1) 80%,
  rgba(20, 20, 20, 1) 100% */
/* ); */
  /* background: radial-gradient(circle, rgba(255, 255, 255) 0%, rgba(120, 120, 120) 150%); */
}

.logo-spin {
    animation: spin 1s linear infinite;

    @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }
}